.body{
   font-family: 'Montserrat', sans-serif;
  background-color: #FF6861; 
   font-size: 18px;
   font-weight: 500;
   margin: 0;
   padding: 0;
   border-radius: 50px;
background: #FDFCEF;
}
* {
   box-sizing: border-box;
}
.container {
   max-width: 1110px;
   margin: 0 auto;
   background: #FDFCEF;
}
section {
padding-top: 120px;
}
.header {
   padding-top: 60px;
}
.title{
   color: #000;
   font-family: Montserrat;
   font-size: 50px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
   width: 465px;
}
.header-image {
   width: 182px;
}
.text{
   font-family: Montserrat;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 136.7%;
   width: 423px;
   color: #000;
}
.button {
   border-radius: 100px;
   background: #FF6861;
   font-size: 18px;
   color: #fff;
   text-decoration: none;
   padding: 22px 0;
   font-weight: 700;
   line-height: 1.19em;
   display: block;
   width: 229px;
   text-align: center;
   transition: all 0.5s ease;
}
.offer-wrapper  {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 79px;
}

.hero-image{
   width: 465px;
   /* transform: translate(139%, -421px); */
}
.features-container {
   width: 720px;
   display: flex;
   gap: 0px;
   flex-direction: column;
   margin: 0 auto
}
.feature {
   display: flex;
   gap: 34px;
   align-items: center;
   margin-top: -3px;
}

h2{
text-align: center;
color: #000;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 140%; 
}
.feature-title{
   color: #000;
   font-family: Montserrat;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
}
.feature-text{
   font-family: Montserrat;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 136.7%;
   color: #000;
   width: 613px;
}
.feature-title {
   font-size: 30px;
   margin-bottom: 11px;
}

.wrap {
   border-radius: 60px;
   background: linear-gradient(148deg, #FFF6DF 0%, #FFDFDE 100%);
   padding: 76px 504px 75px 122px;
}
.tattle{
   color: #000;
   width: 475px;
   font-family: Montserrat;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%
}
.intro{
   color: #000;
   width: 371px;
   font-family: Montserrat;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 136.7%;
   margin: -9px 61px;
}
.aside-image{
   width: 287px;
   height: 287px;
   width: 287px;
   height: 287px;
   transform: translate(-129%, 0px);
}
.bg{
   border-radius: 100px;
    background: #FF6861;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 22px 0;
    font-weight: 700;
    line-height: 1.19em;
    display: block;
    width: 229px;
    text-align: center;
    transition: all 0.5s ease;
    margin: 35px 52px;
}
.footer {
   text-align: center;
   padding: 120px 0;
}
@media (max-width: 1199px) {
   .container {
       max-width: 960px;
   }
    .hero-image  {
      transform: translate(0%, 0px);
   }
   .aside-image {
      transform: translate(-156%, 0px);
   } 
} 
@media (max-width: 1050px) {
   .hero-image  {
      transform: translate(-16%, 0px);
   }
}
@media (max-width: 991px) {
   .container {
       max-width: 720px;
      }
      .header-logo{
       transform: translate(141%, 36px);
      }
   .offer-wrapper {
      flex-direction: column;
      text-align: center;
   }
   .offer{
      transform: translate(0%, 514px);
   }
   .hero-image {
      transform: translate(-2%, -305px);
   }
   .title{
      width: 720px;
   }
   .text{
      transform: translate(-0%, -0px);
      width: 720px;
   }
   .button {
      transform: translate(102%, 10px);
   }
   .wrap {
      padding: 101px 37px 88px 159px;
      height: 835px;
   }
   .aside-image{
      transform: translate(-2%, -819px);
   }
   .tattle {
      transform: translate(-17%, 269px)
   }
   .intro {
      transform: translate(-24%, 271px)
   }
   .bg{
      transform: translate(-4%, 271px);
   }
   .footer{
      margin-top: -142px;
    }
}
@media (max-width: 767px) {
   .container {
      max-width: 540px;
  }
  .feature {
      flex-direction: column;
      text-align: center;
  }
  .features-container {
   width: auto;
  }
  .action-wrap {
      gap: 50px;
  }
  .header-logo {
  display: block;
  transform: translate(100%, 35px);
  }
}
@media (max-width: 740px) {
   .wrap {
    width: 100%;
  }
  .aside-image{
   transform: translate(-2%, -819px);
}
.tattle {
   display: block;
   margin: 0 auto;
   transform: translate(-35%, 269px);
   margin-bottom: 20px;
}
.intro {
   display: block;
   margin: 0 auto;
   transform: translate(-31%, 271px);
   margin-bottom: 20px;
}
.bg{
  display: block;
  margin: 0 auto;
  transform: translate(-39%, 271px);
 }
 .title {
   width: 465px;
text-align: center;
transform: translate(0%, 0px);
}
.text {
   width: 465px;
  text-align: center;
  transform: translate(0%, 0px);
 }
 .button {
   transform: translate(50%, 10px);
}
.offer {
   transform: translate(-1%, 558px);
}
h2{
   width: 320px;
   transform: translate(33%, 0px);
   text-align: center;
}
.feature-text {
   width: 320px;
   transform: translate(8%, 0px);
   text-align: center;
}
.feature-title {
   width: 320px;
   transform: translate(0%, 0px);
   text-align: center;
}
.hero-image {
   transform: translate(0%, -305px);
}
}
@media (max-width: 575px) {
   .container {
       padding: 0 15px;
   }
   .hero-image {
      width: 64%;
   } 
  .title {
   width: 296px;
   text-align: center;
   transform: translate(0%, 52px);
   padding-bottom: 30px;
  }
  .offer {
   transform: translate(0%, 514px);
}
.text {
   width: 310px;
   text-align: center;
   transform: translate(0%, 19px)
}
.button {
   transform: translate(16%, 33px)
}
.section {
   padding-top: 54px;
}
.aside-image {
   max-width: 43%;
   transform: translate(0%, -731px);
   height: 201px;
} 
.features-container {
   /* transform: translate(-2%, -123px); */
}
.tattle {
   width: 280px;
   transform: translate(-25%, 162px);
}
.intro {
   width: 265px;
   transform: translate(-26%, 167px);
}
  h2 {
   width: 300px;
   transform: translate(34%, 0px);
  }
  .header-logo {
   display: block;
   transform: translate(100%, 35px);
}
.offer-wrapper {
   transform: translate(0%, -223px);
}
.wrap {
   transform: translate(1%, 92px)
}
.feature-text {
   width: 240px;
   transform: translate(8%, 0px);
   }
   .feature-title {
      width: 266px;
      transform: translate(1%, 0px);
  }
.bg {
   transform: translate(-30%, 173px);
}
.footer {
   padding: 0px 0;
   margin-top: -232px;
}
}
@media (max-width: 420px) {
   .offer-wrapper {
      transform: translate(0%, -223px);
  }
  .title {
   transform: translate(0%, 52px);
}
.text {
   transform: translate(0%, 19px);
}
.button {
   transform: translate(16%, 33px);
}
h2 {
   width: 205px;
   transform: translate(16%, 0px);
}
.feature-title {
   width: 266px;
   transform: translate(1%, 0px);
}
.feature-text {
   width: 240px;
   transform: translate(8%, 0px);
}
.tattle {
   width: 242px;
   transform: translate(-56%, 162px);
}
.intro {
   width: 203px;
   transform: translate(-58%, 167px);
}
.bg {
   transform: translate(-58%, 173px);
}
section {
   padding-top: 229px;
}
.header-logo {
   display: block;
   transform: translate(25%, 35px);
}
}