body {
   font-family: 'Montserrat', sans-serif;
   background-color: #FF6861;
   background: #FDFCEF;
}

* {
   box-sizing: border-box;
}

.html {
   scroll-behavior: smooth;
}

.container {
   max-width: 1110px;
   margin: 0 auto;
}

section {
   padding-top: 120px;
}

p {
   line-height: 1.37em;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
   line-height: 1.4em;
   margin: 0;
}

.header {
   padding-top: 60px;
}

.logo {
   max-width: 145px;
}

h1 {
   font-size: 50px;
}

h2 {
   font-size: 40px;
   text-align: center;
   margin-bottom: 70px;
}

.hero-image {
   width: 465px;
}

.intro {
   font-size: 18px;
   margin: 30px 0;
}

.button {
   background: #FF6861;
   border-radius: 100px;
   font-size: 18px;
   color: #fff;
   text-decoration: none;
   padding: 22px 0;
   font-weight: 700;
   line-height: 1.19em;
   display: block;
   width: 216px;
   text-align: center;
   transition: all 0.5s ease;
}

.button:hover {
   background:#fb471d;
}

.hero-text {
   width: 465px;
}

.hero-text h2 {
   font-size: 40px;
   text-align:left;
   margin-bottom: 0;
}

.action-wrap .hero-text {
   width: 432px;
}

.action-wrap .intro {
   margin: 24px 0;
   width: 371px;
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 79px;
}

.features-container {
   width: 720px;
   display: flex;
   flex-direction: column;
   gap: 41px;
   margin: 0 auto
}

.feature {
   display: flex;
   gap: 34px;
   align-items: center;
}

.feature-digit {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.37em;
   border: 1px solid #000000;
   border-radius: 20px;
   width: 77px;
   height: 77px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.5s ease;
}

.feature:hover .feature-digit {
   background: #000;
   color: #fff;
}

.feature-title {
   font-size: 30px;
   margin-bottom: 11px;
}

.action-wrap {
   border-radius: 60px;
background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
   border-radius: 60px;
   display: flex;
   align-items: center;
   padding: 69px 168px 83px 123px;
   gap: 101px;
   justify-content: center;
}

@keyframes rot {
   0% {
       transform: rotate(0deg);
   }

   100% {
       transform: rotate(360deg);
   }
}

.action-wrap img {
   animation: 5s linear 0s normal none infinite running rot;
}

.credits {
   font-size: 15px;
   text-align: center;
}

.footer {
   padding: 120px 0;
}

/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
   .container {
       max-width: 960px;
   }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
   .container {
       max-width: 720px;
   }
   .logo {
      display: block;
      margin: 0 auto;
  }
   .wrapper {
      flex-direction: column-reverse;
       text-align: center;
       gap: 51px;
   }
   .button {
       margin: 0 auto;
   }
   .action-wrap {
      flex-direction: column-reverse;
       text-align: center;
       padding: 101px 144px;
   }
   .hero-text h2 {
       text-align: center;
   }
   .action-wrap .intro {
       margin: 24px auto;
   }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
   .container {
       max-width: 540px;
   }
   .feature {
       flex-direction: column;
       text-align: center;
   }
   .features-container {
       width: auto;
   }
   .action-wrap {
       gap: 50px;
   }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
   .container {
       padding: 0 15px;
   }
   .hero-image {
       width: 100%;
       display: block;
   }
   .hero-text {
       width: auto;
   }
   h1 {
       font-size: 45px;
   }
   .action-wrap img {
       width: 201px;
   }
   .action-wrap {
       padding: 70px 20px;
   }
   .action-wrap .hero-text {
       width: 100%;
   }
   .action-wrap .intro {
       width: auto;
   }
   section {
       padding-top: 90px;
   }
   .footer {
       padding: 90px 0;
   }
   .wrapper {
       margin-top: 50px;
   }
}
